body {
    color:rgb(255, 251, 0);
    background-image: url(https://img.uhdpaper.com/wallpaper/deadpool-and-wolverine-movie-370@0@k);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
    font-family: "Chakra Petch", sans-serif;
}
header {
    background: rgb(0, 0, 0);
    border-bottom: solid 2px rgb(255, 230, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 251, 0);
}

section {
    background;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}
section {
    display: block;
    unicode-bidi: isolate;
}

section{
    padding-bottom: 40px;
}
h1 { 
    font-size: 35px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}